In [23]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [24]:
df_incoming_bikes = pd.read_pickle('incoming_bikes.pkl')
df_outgoing_bikes = pd.read_pickle('outgoing_bikes.pkl')

In [25]:
df_incoming_bikes.head(100)

,ENDSTATIONNAME,ROUNDEDENDTIME,COUNTEVENTS,ENDDATE,ENDDAYNUM,ENDMONTHNUM,ENDTIME,ENDHOUR,ENDMINUTE,DAYOFWEEK
0,10e avenue / Holt,2022-04-16 04:30:00,2,2022-04-16,16,4,04:30:00,4,30,5
1,10e avenue / Holt,2022-04-16 06:30:00,1,2022-04-16,16,4,06:30:00,6,30,5
2,10e avenue / Holt,2022-04-16 12:30:00,1,2022-04-16,16,4,12:30:00,12,30,5
3,10e avenue / Holt,2022-04-16 14:30:00,1,2022-04-16,16,4,14:30:00,14,30,5
4,10e avenue / Holt,2022-04-16 17:30:00,1,2022-04-16,16,4,17:30:00,17,30,5
...,...,...,...,...,...,...,...,...,...,...
95,10e avenue / Holt,2022-04-25 11:30:00,1,2022-04-25,25,4,11:30:00,11,30,0
96,10e avenue / Holt,2022-04-25 12:00:00,1,2022-04-25,25,4,12:00:00,12,0,0
97,10e avenue / Holt,2022-04-25 12:30:00,1,2022-04-25,25,4,12:30:00,12,30,0
98,10e avenue / Holt,2022-04-25 13:00:00,1,2022-04-25,25,4,13:00:00,13,0,0
99,10e avenue / Holt,2022-04-25 19:00:00,3,2022-04-25,25,4,19:00:00,19,0,0

In [26]:
df_outgoing_bikes.head(100)

,STARTSTATIONNAME,ROUNDEDSTARTTIME,COUNTEVENTS,STARTDATE,STARTDAYNUM,STARTMONTHNUM,STARTTIME,STARTHOUR,STARTMINUTE,DAYOFWEEK
0,10e avenue / Masson,2022-04-16 00:30:00,2,2022-04-16,16,4,00:30:00,0,30,5
1,10e avenue / Masson,2022-04-16 01:00:00,1,2022-04-16,16,4,01:00:00,1,0,5
2,10e avenue / Masson,2022-04-16 03:00:00,1,2022-04-16,16,4,03:00:00,3,0,5
3,10e avenue / Masson,2022-04-16 11:00:00,2,2022-04-16,16,4,11:00:00,11,0,5
4,10e avenue / Masson,2022-04-16 13:00:00,1,2022-04-16,16,4,13:00:00,13,0,5
...,...,...,...,...,...,...,...,...,...,...
95,10e avenue / Masson,2022-04-20 15:30:00,3,2022-04-20,20,4,15:30:00,15,30,2
96,10e avenue / Masson,2022-04-20 16:00:00,3,2022-04-20,20,4,16:00:00,16,0,2
97,10e avenue / Masson,2022-04-20 17:00:00,1,2022-04-20,20,4,17:00:00,17,0,2
98,10e avenue / Masson,2022-04-20 17:30:00,2,2022-04-20,20,4,17:30:00,17,30,2
99,10e avenue / Masson,2022-04-20 18:00:00,3,2022-04-20,20,4,18:00:00,18,0,2

In [27]:
#split training data for outgoing bikes
inputs = df_outgoing_bikes.drop(['COUNTEVENTS', 'ROUNDEDSTARTTIME', 'STARTTIME', 'STARTDATE', 'STARTSTATIONNAME'], axis='columns')
outputs = df_outgoing_bikes['COUNTEVENTS']

inputs_train, inputs_test, outputs_train, outputs_test = train_test_split(inputs, outputs, test_size=0.2)


inputs.head(100)

    STARTHOUR  DAYOFWEEK
0           0          5
1           1          5
2           3          5
3          11          5
4          13          5
..        ...        ...
95         15          2
96         16          2
97         17          2
98         17          2
99         18          2

[100 rows x 2 columns]

In [28]:
model_outgoing_bikes = LinearRegression()
# model_outgoing_bikes = DecisionTreeClassifier()
model_outgoing_bikes.fit(inputs_train, outputs_train)

score = model_outgoing_bikes.score(inputs_test, outputs_test)
print(score)

0.022147081174578864